
<div class="container">
 <div class="banner" style="background-image:url(<%= asset_path('banner.jpg') %>);">
  <div class="container">
    <h1>YOUR MOVIES SELCTION FOR THE LIST <strong><%= @list.name.upcase %> </strong></h1>
  </div>
</div>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="form-group">
    <%= f.association :movie, label: "Choisissez un film :", prompt: "Sélectionnez un film" %>
  </div>

    <div class="form-group">
      <%= f.input :comment, label: "Ajoutez un commentaire :" %>
    </div>
    <%= f.submit "Ajouter ce film", class: "btn btn-primary" %>
  <% end %>

<h2>Films dans cette liste :</h2>
<ul class="list-group">
  <% if @list.bookmarks.any? %>
    <% @list.bookmarks.each do |bookmark| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong><%= bookmark.movie.title %></strong>
          <p><%= bookmark.comment %></p>
        </div>
        <%= link_to "Supprimer", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Es-tu sûre ?" }, class: "btn btn-danger btn-sm" %>
      </li>
    <% end %>
  <% else %>
    <p>Aucun film dans cette liste pour l’instant.</p>
  <% end %>
</ul>
 <%= link_to "Back to list", lists_path, class: 'btn btn-primary' %>
  </div>
